<h1><%= t 'views.registrations.create.title' %></h1>

<p><%= t 'views.registrations.create.description' %></p>
<p><%= t('views.registrations.create.help', href: mail_to("mentor@alumniei.pt", "mentor@alumniei.pt")).html_safe %></p>
