<p>
  Estudantes do MIEIC que estejam com dificuldade em decisões de carreira, com
  problemas pessoais/profissionais na universidade, ou quaisquer outras
  dúvidas, podem beneficiar de falar com alguém que já tenha tido uma
  experiência semelhante.
</p>

<p>
  Esta plataforma foi construída para juntar estudantes do MIEIC à procura de
  apoio e antigues alunes que voluntariam o seu tempo para ouvir e aconselhar
  onde puderem.
</p>

<h2>Encontra alguém que te apoie</h2>

<p>
  Terás acesso ao contacto de váries antigues alunes, assim como um resumo das
  suas experiências e áreas de especialidade.
</p>

<p>
  Não te pediremos nenhuma informação pessoal além do teu endereço de email
  institucional.
</p>

<%- unless current_user %>
<p>
  <%= link_to t('views.home.index.students.register'), new_registration_path %>
  ou
  <%= link_to t('views.home.index.students.login'), new_session_path %>
</p>
<%- end %>

<h2>Ajuda alguém</h2>

<p>
  Se já foste alune do MIEIC, gostaríamos de te ter a aconselhar estudantes.
  Manda-nos um email: <a href='mailto:mentor@alumniei.pt'>mentor@alumniei.pt</a>.
</p>

<h2>Código de conduta</h2>

<p>
  Para usar esta plataforma, terás de aderir ao nosso
  <%= link_to t('views.home.index.code_of_conduct'), code_of_conduct_path %>.
  Lê com atenção.
</p>

<h2>Contacta-nos</h2>

<p>
  Se quiseres contactar as pessoas responsáveis pela manutenção de plataforma
  com sugestões, queixas, ou quaisquer outras questões, envia-nos um email
  para:
  <a href='mailto:mentor@alumniei.pt'>mentor@alumniei.pt</a>.
</p>
