<div>
  <%= form_with method: :get do |f| %>
    <%= f.search_field :query, value: params[:query] %>
    <%= f.submit :search, name: nil %>
  <% end %>
</div>

<div class="mentor-list">
  <%= render partial: 'mentor', collection: @mentors, cached: true, locals: { lang: @settings.locale } %>
</div>
