/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: sans-serif;
  max-width: 40rem;
  margin: 0px auto;
  padding: 1rem;
}

input[type=submit] {
  border: 1px solid;
  height: 24px;
}

input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 0px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 0px;
}

input[type=file] {
  border: 0;
}

input[type=text], input[type=number], textarea {
  line-height: 20px;
  border: 1px solid;
  padding: 2px 6px;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.edit-profile-form { max-width: calc(36rem + 10px); margin: 0px auto 60px auto; }

.edit-profile-form .label { margin: 20px 0px 0px 0px; font-weight: bold; font-size: 1.2em; }
.edit-profile-form .input { margin: 5px 0px; }
.edit-profile-form .description { line-height: 20px; }

.edit-profile-form input[type=text] { width: calc(100% - 4rem); }
.edit-profile-form input[type=number] { width: calc(100% - 4rem); }
.edit-profile-form input[type=submit] { margin-top: 10px; }
.edit-profile-form textarea { width: calc(100% - 4rem); height: 150px; }

.edit-profile-form .picture-img { width: 32px; vertical-align: middle; }
.edit-profile-form .career-checkbox { margin-bottom: 10px; line-height: 20px; }
.edit-profile-form .active-radio { margin-bottom: 10px; line-height: 20px; }

.mentor-list-item {
  margin-bottom: 40px;
}

.mentor-list-item header {
  overflow: auto;
}

.mentor-list-item .p-name     { margin: 0px; line-height: 26px; }
.mentor-list-item .u-email    { margin: 0px; line-height: 26px; }
.mentor-list-item .location   { margin: 0px; line-height: 26px; }
.mentor-list-item .attendance { margin: 0px; line-height: 26px; }

.mentor-list-item .u-url {
  display: inline-block;
  padding: 3px 10px;
  color: black;
  background-color: #FF9E7C;
}

.mentor-list-item .career {
  margin-bottom: 6px;
  display: inline-block;
  padding: 3px 10px;
  color: black;
  background-color: #46d9be;
}


.mentor-list-item img.u-photo {
  float: left;
}

.mentor-list-item img.u-photo {
  max-width: 96px;
  max-height: 96px;
  border: 4px solid black;
  margin: 0px 15px 10px 0px;
}

.mentor-list-item img.u-photo.default-picture {
  width: 96px;
  height: 96px;
  object-fit: none;
}

.new-session-form {
  margin: 0 auto;
}

.new-session-form label { display: block; line-height: 20px; }
.new-session-form input[type=submit] { margin-top: 10px; }

.new-registration-form { max-width: 15rem; margin: 0 auto; }
.new-registration-form label { display: block; line-height: 20px; }
.new-registration-form input[type=email] { width: 90%; }
.new-registration-form input[type=password] { width: 90%; }
.new-registration-form input[type=submit] { margin-top: 10px; }


nav ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
  line-height: 2em;
}

nav ul li { margin-right: 10px; }
nav ul li a, nav ul li input[type=submit] {
  display: inline-block;
  padding: 10px 10px;
}

nav input[type=submit] {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  height: auto;
  padding: 0;
}
