<h1><%= t 'views.password_recoveries.create.title' %></h1>

<p><%= t 'views.password_recoveries.create.description' %></p>
<p><%= t('views.password_recoveries.create.no_account', href: mail_to("mentor@alumniei.pt", "mentor@alumniei.pt")).html_safe %></p>
